:root
{
    --base:#ff6e6e;
    --spacing:10px;
    --blur:10px;
}
h2
{
    font-size: 40px;
    text-align: center;
}
h2 span
{
    color: var(--base);
}
.control
{
    text-align: center;
}
.control label
{
    font-size: 30px;
    font-weight: 600;
}
.image
{
    width: 60%;
    height: 450px;
    margin-left: 20%;
    margin-top: 50px;
    filter: blur(var(--blur));
    padding: var(--spacing);
    background: var(--base);
}