/* .panel1
{
    background: url("image/baranfinal.jpg");
}
.panel2
{
    background: url("image/silhouette2.jpg");
}
.panel3
{
    background: url("image/backme.jpg");
}
.panel4
{
    background: url("image/173969_187.jpg");
}
.panel5
{
    background: url("image/nakhl.jpg");
    
} */
.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
background-size: cover; }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
    background-size: cover; }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
    background-size: cover; }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
    background-size: cover; }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); 
    background-size: cover;}

.panels
{
    display: flex;
    overflow: hidden;
    height: 100%;
}
.panel
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: 0.6s;
    
}
.panel > *
{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    flex: 1;
    transition:transform 0.5s;
    margin: 0px;
}
.panel >*:first-child
{
    transform: translateY(-100%);
}
.panel >*:last-child
{
    transform: translateY(100%);
}
.panel.open-active >*:first-child
{
    transform: translateY(0%);
}
.panel.open-active >*:last-child
{
    transform: translateY(0%);
}
.panel.open
{
    flex: 5;
    font-size: 50px;
}