body{
	/* background-color: #D8D6D3; */
	/* margin: 16px; */
	background-color: rgb(255, 255, 255);
	/* background-image: url("Lebron\ Sketch.jpg") ; */
	/* background-repeat: no-repeat; */
	/* background-attachment: fixed; */
	/* background-position: center; */
	/* background-position-y: 20px; */
	/* background-size: 400px; cover*/
	/*background-image: linear-gradient(yellow,#D8D6D3);*/
	/*background-image: url("photo.jpg");*/
	/* background-repeat: no-repeat; */
	/* background-position: right top; */
	/* background-attachment: fixed; */
	/* background: #ffffff url("img_tree.png") no-repeat right top; */
	/* background-repeat: repeat-x //the background will be repeated only horizontally// */
	/* display: block; */
	/* background-origin: border-box , content-box , padding-box */
	color: rgb(85, 82, 82);
	font-size: 20px;
	text-shadow: 10cm;
	box-sizing: border-box;
}
.boxshadow{
	box-shadow: 8px 8px 4px rgba(197, 211, 10, 0.904) , 4px 4px rgba(219, 3, 3, 0.418);
}
.horizon-center{
	padding-top: 30%;
}
.shadow_around{
	color: black;
	text-shadow: 1px 0px gold , -1px 0px gold , 0px 1px gold , 0px -1px gold;
}
.corneredborder1{
	border-radius: 50px 50px 50px 0px;
	background-color: rgb(44, 216, 53);
	width: 200px;
	height: 150px;
}
.corneredborder2{
	border-radius: 50px 0px 50px 0px;
	background-color: rgb(44, 216, 53);
	width: 200px;
	height: 150px;
}
article{
	text-align: center;
	
}
caption{
	font-size: 35px;
	margin-bottom: 5px;
	transition-duration: 0.4s;
}
caption:hover{
	color: red;
}
ul.nav-bar{
	list-style-type: none;
	background-color: rgb(15, 0, 82);
	width:100%;
	height:40px;
	/* text-align: justify; */
	
}
ul.nav-bar li{
	float: right;
	margin-right: 150px;
	
}
ul.nav-bar li a{
	color:rgb(8, 240, 77);
	
}
.drop-items{
	display: none;
	position: absolute;
	z-index:1;
}
.drop-items a{
	display: block;
	
}
ul.nav-bar li.dropdown:hover .drop-items{
	display: block;
	z-index:1;
	
}


@font-face{
	font-family: poemfont;
	src:url(font/UrdType.ttf);
}
@font-face{
	font-family: myfont;
	src:url(font/BNAZANIN.TTF);
}
#container{
	/* color:rgba(93, 15, 167, 0.856); */
	margin-left: auto;
	margin-right: auto;
	/* font-family: myfont; */
	font-size: 25px; 
	font-weight: 1cm;
	display:inline;
	line-height: 35px;
	
}
#header {
	color: #0FD818 ;
	/* font-family: myfont; */
	/* position: fixed; */
	
}
#poems{
	font-family: poemfont;
	font-size: 25px;
	color: #F1FD46;
	/*background-color: black;*/
	background-image: url(images/notebook.jpg);
	background-size: 900px;
	border-radius: 50%; 
}
#tables{
	position: relative;
	bottom: 300px;
	left:20px;
	border-width: 10px;
	border-color: gold;
	/* border-style: solid; */
	border-radius: 12%;
	border-bottom: 6px solid red;
	padding-bottom: 16px;
	/* overflow-x: auto; */
	/* border-collapse:  */
	/* border-bottom-width: 8px; */
	/* outline-color: aqua; */
	
}
tr{
	transition-duration: 0.4s;
}
#image{
	max-width: 500px;
	/* max-width: 500px; */
	height: 500px;
	/* position:sticky; */
	/* position: fixed; */
	opacity: 0.9;
	position: relative;
}
#image:hover{
	opacity:0.6;
}
#english_text
{
	font-family: /*Times New Roman, Times, serif*/ helvetica;
	width: 500px;
	height: 300px;
	text-align: right;
	text-decoration: underline;
	text-transform: capitalize;
	text-indent: 70px;
	letter-spacing: 3px;
	line-height: 45px;
	font-weight: bold;
	word-spacing: 10px;
	overflow:auto;
	/* overflow:hidden; */
	/* overflow:visible; */
	/* text-overflow: clip; ellipsis visible*/
	/* outline-color: aqua; */
}
.circle{
	width: 200px;
	height: 200px;
	border-radius: 30%;
	/* background-image: linear-gradient(red , white); */
	background-color: crimson;
}
/*                                                     */
/*                                                     */
/*                         TOOLTIP                     */
/*                                                     */
/*                                                     */
.tooltip{
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext{
	visibility: hidden;
	color: white;
	width: 120px;
	background-color: navy;
	position: absolute;
	z-index: 1;
	border-radius: 40%;
	top:-120%;
	left: 105%;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}
/*                                                     */
/*                                                     */
/*                         TOOLTIP                     */
/*                                                     */
/*                                                     */


/*             -----------------------------------------------------------------------------------------------------          */                         


/*                                                     */
/*                         ANIMATION                   */
/*                                                     */
/*                                                     */
@keyframes animation1{
	from{background-color: chartreuse;}
	to{background-color: deepskyblue;}
}
.moving-square{
	width: 100px;
	height: 100px;
	background-color: aqua;
	position: relative;
	animation-name: animation2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
}
@keyframes animation2{
	0%{left:0px; top:0px;}
	25%{left:200px; top:0px;}
	50%{left:200px; top:200px;}
	75%{left:0px; top:200px;}
	100%{left:0px; top:0px;}
}
.rect{
	width: 400px;
	height: 100px;
	background-color: chartreuse;
	animation-name: animation1;
	animation-duration: 3s;
}
/*                                                     */
/*                                                     */
/*                         ANIMATION                   */
/*                                                     */
/*                                                     */


/*             -----------------------------------------------------------------------------------------------------          */                         


/*                                                     */
/*                                                     */
/*                         Cards                       */
/*                                                     */
/*                                                     */
.card{
	position: relative;
	margin-top: 200px;
	width: 450px;
	height: 800px;
	background-color: rgb(250, 232, 233);
	border:1px solid rgb(241, 227, 227);
	/* border-radius: 5%; */
	box-shadow: 2px 2px 1px #bbbbbb , -2px -2px 1px #bbbbbb;
}
.img-text{
	color: white;
}
.img-middle{
	position: absolute;
	left: 30%;
	bottom: 50%;
	border-radius: 8px;
	word-spacing: 5px;
	padding: 16px 32px;
	/* background-color: #4CAF50; */
	background-image: linear-gradient(#165e04,#1d8010);
	opacity: 0;
}
.card-img-div{
	width:inherit;
	height: 70%;
	position: relative;
}
.card-img{
	width: inherit;
	border-spacing: 10px;
	height: 100%;
	/* border-radius: 5% 5% 0% 0%; */
	border:1px solid black;
}
.card-container{
	position: absolute;
	left: 15px;
	border-radius: 0% 0% 10% 10%;
	text-align: center;
	padding: 10px 20px;
}
.card-button{
	border-radius: 15%;
	border:1px white solid;
	background-color:rgb(227, 231, 225);
	width: 80px;
	height: 40px;
	box-shadow: 4px 4px 3px rgba(167, 185, 161, 0.900);
	position: absolute;
	left: 15px;
	bottom: 15px;
	z-index: 1;
}
.card-img-div:hover .card-img{
	opacity: 0.5;
}
.card-middle-text{
	opacity: 0;
}
.card-img-div:hover .img-middle{
	opacity:1;
}
.overlay{
	width: inherit;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgb(58, 137, 240);
	transition-duration: 1s;
}
.overlay-text{
	color: white;
	position: absolute;
	left: 20%;
	top: 50%;
}
.card-img-div:hover .overlay{
	opacity: 1;
}
/*                                                     */
/*                                                     */
/*                         Cards                       */
/*                                                     */
/*                                                     */
.circle:hover{
	transition-duration: 2s;
	transition-timing-function: linear;
	transform: rotate(360deg); /*translate(right,bottom) scale(time of width,times of height) */
	/* background-image: linear-gradient(violet , white); */
	background-color: linear-gradient(violet , white) ;
}
.border{
	border: 2px black solid;
}
.dimension{
	width: 300px;
	height: 300px;
}
.overflow-hidden{
	word-break: keep-all;
	white-space:pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#music{
	padding: 5px;
	margin: 5px;
	 
}
#ordered-list{
	list-style-type: disc;/*  lower-alpha //upper-roman //square //circle */
	/* list-style-position:inside/outside  */
	/* list-style-image:  url('sqpurple.gif')*/
	/* list-style: type//position//image (shorthand) */
}
#grid{
	display: grid;
	grid-template-columns: repeat(3,minmax(100px,200px));/* repeat(3,80px) repeat(2,1fr 80px) repeat(3,minmax(80px,180px)) 80px 80px 80px*/
	grid-template-rows: 50px 50px 50px;/* repeat(3,50px) */
	grid-gap: 20px;
	color: rgba(63, 218, 16, 0.973);
	/*grid-row-gap: 20px;
	grid-column-gap: 20px;*/
	padding: 20px;
	/* margin-left: 40%; */
	/* margin-right: 60%; */
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	/*justify-items: center;*/ 
	/*align-items: stretch;*/
	grid-template-areas:
	"header1 header"
	"aadvert advert"
	"footer1 footer";
}
#p1{background-color: lime;
	
	/* grid-column: 1/3; */
	grid-area: header1;
}
#p2{background-color: rgb(255, 0, 0);
	
	grid-area: header;
}
#p3{
	background-color: rgb(10, 99, 233);
	/* grid-row: 2/4; */
	grid-area: advert;
}
#p4{
	background-color: black;
	grid-area: aadvert;
}
#p5{
	background-color: orange;
	grid-area: footer;
}
#p6{
	background-color: purple;
	grid-area: footer1;
}
@media(min-width:600px)
{
	#grid
	{
		grid-template-areas: 
		"header header1"
		"advert aadvert"
		"footer footer1";
	}
}
#box-container{
	display: flex;
	flex-direction: row; /*column -- column-reverse -- ...*/
	justify-content: center; /*flex-end -- ...*/
	 /*align-items  */
	 flex-wrap: wrap;
}
#box-1{
	background-color: rgb(70, 143, 253);
	height: 150px;
	width: 300px;
	order:2;
	/* flex-shrink: 1; */
	/* flex-grow: 1; */
}
#box-2{
	background-color: rgb(10, 243, 88);
	height: 150px;
	width: 300px;
	order:1;
	/* flex-shrink: 2; */
	/* flex-grow: 2; */
}
#box-3{
	background-color: rgb(89, 12, 211);
	height: 150px;
	width: 300px;
	order:5;
	/* flex-shrink: 3; */
	/* flex-grow: 3; */
}
#box-4{
	background-color: rgb(12, 211, 161);
	height: 150px;
	width: 300px;
	order:4;
	/* flex-shrink: 4; */
	/* flex-grow: 4; */
}
#box-5{
	background-color: rgb(211, 12, 128);
	height: 150px;
	width: 300px;
	order:3;
	/* flex-shrink: 5; */
	/* flex-grow: 5; */
}
#box-6{
	background-color: rgb(223, 148, 8);
	height: 150px;
	width: 300px;
	max-width: 350px; 
	order:6;
	align-self: flex-start;
	/* flex-shrink: 6; */
	/* flex-grow: 6; */
}
#js_paragraph{
	border-width: 20px;
	border-style: solid;
	border-color:black; 
	width: 200px;
	height: 200px;
	/* background-color: #F1FD46; */
	padding-top:90px;
}
/* a{
	text-decoration: none;
} */
.text-center{
	text-align: center;
}
.mt{
	margin-top:20px;
}
a{
	text-decoration: none;
	color: rgb(212, 75, 75);
	transition-duration: 0.4s;
}
a:hover{
	color: black;
	font-size: 28px;
}
#perspolis:hover{
	color: red;
	font-size: 28px;
}
#realmadrid:hover{
	color:gold;
	font-size: 28px;
}
tr:hover{
	color: #fa1f1f;
}
html{
	scroll-behavior:smooth;
}
footer{
	padding-top: 70px;
	font-size: 20px;
	color: white;
	background-image: linear-gradient(to left , rgba(255,0,0,0), rgba(255,0,0,1));
	height: 100px;
	margin-top:150px;
	text-align: center;
}
button{
	cursor: pointer;
}
button:focus{
	/* makes that light blue border go away */
	outline: none;
	border: none;
}