
body{
    perspective: 1000px;
    
}
@keyframes myani{
0%{
    left: 0px;
}

50%{
    left: 200px;
}

100%{
    left: 0px;
}
}
#myani{
    width: 200px;
    height: 100px;
    background-color: aqua;
position: absolute;
animation-name: myani;
animation-duration: 5s;
animation-iteration-count: 2;
}
#myani2{
    width: 200px;
    height: 100px;
    background-color: yellow;
    direction: rtl;
    margin-left: 600px;
    animation-name: myani2;
    animation-duration: 6s;
    animation-iteration-count: 2;
}
@keyframes myani2{
    0%{
        background-color: yellow;
    }
    20%{
        background-color: black;
    }
    40%{
        background-color: blueviolet;
    }
    60%{
        background-color: aqua;
    }
    80%{
        background-color: brown;
    }
    100%{
        background-color: yellow;
    }
}
#tow{
    width: 200px;
    height: 200px;
   left: 400px;
   top: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation-name: ani;
    animation-duration: 10s;
   
}
#tow div{
    width: 200px;
    height: 200px;
    border-style: solid;
    background-color: coral; 
    position: absolute;
   

}
#item1{
    transform: translateX(100px) rotateY(90deg) ;
}
#item2{
    transform: translateX(-100px) rotateY(90deg);
}
#item3{
    transform: translateY(100px) rotateX(90deg);
}
#item4{
   transform: translateY(-100px) rotateX(90deg);
}
#item5{
    transform: translateZ(100px) rotateZ(180deg);
}
#item6{
    transform: translateZ(-100px);
}
@keyframes ani{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}