.navbar
{
    list-style-type: none;
    direction: rtl;
    border-style: solid;
    border-width: 1px;
   
    padding: 3px;
    float: right;
}

.colortitle
{
    background-color: burlywood;
}
li a
{
    background-color :rgb(172, 156, 172);
    width: 200px;
    display: block;
}
li a:hover:not(.colortitle)
{
    background-color: white;

}
.dropdown
{
    margin : 0px;
    direction: rtl;
    margin-right: 300px;
    position: relative;
    display: block;
}
.firstdrop
{
    background-color: yellow;
    width: 200px;
    height: 30px;
    text-align: center;
    display: block;
    position: relative;
    
}
.seconddrop
{
    display: block;
    position:relative;
}
.seconddrop a
{
    display:block;
}
.firstdrop:hover .seconddrop
{
    background-color: black;
}
#secondtest
{
    width: 100px;
    height: 100px;
    color: blue;
    display: none;
}
#test
{
    display: block;
    width: 100px;
    height: 100px;
}
#test:hover #secondtest
{
    display: block;
}