.navbar
{
    list-style-type: none;
    direction: rtl;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    float: right;
}
.colortitle
{
    background-color: burlywood;
}
li a
{
    background-color :rgb(172, 156, 172);
    width: 200px;
    display: block;
}
li a:hover:not(.colortitle)
{
    background-color: white;
}
.firstdrop
{
    width: 200px;
    height: 25px;
    background-color: yellow;
    margin-left: 800px;
    direction: rtl;
    padding: 3px;
    display: block;
}
.seconddrop a
{
    display: block;
    color: yellow;
}
.seconddrop
{
    background-color: black;
    display: none;
    width: 205px;
    height: 75px;
    margin-top:10px;
    margin-right: -3px;
}
.firstdrop:hover .seconddrop
{
    display: block;
}
.removeimg img
{
    width: 300px;
    height: 350px;
    margin-left: 50px;
    margin-top: 20px;
    outline: blue;
    outline-width: 2px;
    outline-style: solid;
    display: block;
}
.removeimg
{
    width: 400px;
    height: 450px;
    border-style: solid;
    border-width: 2px;
}
.removeimg div
{
    width: 300px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    margin-left: 47px;
    margin-top: 10px;
    text-align: center;
}
.desdangold:hover ~ img
{
    display: none;
}