*{
    box-sizing:border-box;
}
body{
    background-color: lightcyan;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#474747 , #b9b9b9);
}
.pen button{
    outline: none;
    border: 1px solid rgba(10, 8, 8, 0.4);
    padding: 8px;
    border-top: 2px solid rgba(255, 251, 11);
    margin-left: 10px;
    background-color: rgb(121, 121, 121);
    color: rgb(218, 218, 218);
    font-weight: 800;
}
.codepen{
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    height: 100vh;
}
.codepen>*{
    border: 1px solid black;
}
.pen{
    display:grid;
    grid-template-columns: 1fr auto auto auto auto auto;
    grid-template-rows: 1;
    grid-gap: 10px;
    justify-content: end;
    align-items: center;
}
.descript{
    padding: 10px;
}
.pen img{
    margin-right: 10px;
    border-radius: 70%;
}
.profilePic{
    width: 50px;
    height: 50px;
}
.code{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}
.txt-area{
    border: 1px solid #2b2b2b;
    background-color: #1b2b34;
    color: green;
    grid-column: span 2;
    font-family: Arial;
}
.preview{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}
.iframe{
    grid-row: 1/-1;
    grid-column: 1/-1;
}
.settings{
    margin-left: 5px;
}
.settings button{
    outline: none;
    margin: 0 5px;
    padding: 2px;
}
.IDE{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    background-color: #1b2b34;
}
ol{
    list-style: none;
    padding-left: 0;
    margin-left: 0;

}
li{
    padding: 3px 5px;
}
