*{
    box-sizing: border-box;
}

.gallery{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,100px);
    grid-auto-rows: 100px;
    /* grid-template-rows: repeat(auto-

fill,minmax(100px,500px)); */
}
.gallery .v1{
    grid-row: span 1;
}
.gallery .v2{
    grid-row: span 2;
}
.gallery .v3{
    grid-row: span 3;
}
.gallery .v4{
    grid-row: span 4;
}
.gallery.h1{
    grid-column: span 1;
}
.gallery .h2{
    grid-column: span 2;
}
.gallery .h3{
    grid-column: span 3;
}
.gallery .h4{
    grid-column: span 4;
}
div.item{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    position: relative;
    align-items: center;
    justify-items: center;
}
.overlay{
    /* position: absolute; */
    grid-column: 1/-1;
    grid-row: 1/-1;
    display:grid;
    justify-items: center;
    align-items: center;
    /* top: 50%;
    right: 50%; */
    /* visibility: hidden; */
}
.overlay button{
    grid-row: 1/-1;
    grid-column: 1/-1;
    visibility: hidden;
}
.item:hover .overlay button{
    visibility: visible;
    width: 40px;
    height: 20px;
    border: 2px solid #2c2a2c;
    /* border-radius: 5px; */
    background-color: rgb(14, 12, 12,0.2);
    z-index: 1;
    color: rgb(231, 27, 27);
}
div.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1/-1;
    grid-row: 1/-1;
}