body
{
    background-color: #f69858;
}
.wrapper
{
    margin: 7%;
}
.wrapper > *
{
    border: 1px solid black;
    margin-top: 10px;
    background-color: #888888b9;
    color: #ffffff;
}
.top
{
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}
.nav-bar ul
{
    display: flex;
    list-style-type: none;
    flex: 1;
    padding: 0px;
    margin: 0px;
}
.nav-bar li
{
    flex: 3;
    text-align: center;
    padding-top: 15px;
    height: 40px;

}
.nav-bar .social
{
    flex: 1;
}
.nav-bar li:hover
{
    background-color: #00000094;
}
.centerimg
{
    background: url("2.jpg");
    background-size: cover;
    height: 700px;
}